body {
    background-color: #010165;
    margin: 0px;
    text-align: center;
  }

#header {
    background-color: #00ffff;
}

#instructions {
    color: white;
}
  
.door-row {

}

.door-frame {
    cursor: pointer;
    padding: 10px;
}